<!DOCTYPE html>
<html>
<head>
  <title><%=EJSpokeData["name"] %> data </title>
  <script src="https://kit.fontawesome.com/0db405f613.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js" integrity="sha512-ALoawPS0JxHQ+8dGL7htZIlVNRaE/SN9gHD4G8pJJTi9H4BQ/3PjdvhggSGR34g00mvTPFkxQuveQUsJA5664Q==" crossorigin="anonymous"></script> <!--Howler CDN-->
  <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>

<%

var nameCutter = EJSpokeData["name"].split('-');

var second = (nameCutter[1] == undefined) ? "" : "-" + nameCutter[1].charAt(0).toUpperCase() + nameCutter[1].split("").slice(1, nameCutter[1].length).join("");

var name = nameCutter[0].charAt(0).toUpperCase() + nameCutter[0].split("").slice(1, nameCutter[0].length).join("") + second;



        let heightHolder = EJSpokeData["height"].toString();

        let pokeHeight = heightHolder.slice(0, 1) + "." + heightHolder.slice(1);

             let weightHolder = EJSpokeData["weight"].toString();

        let pokeWeight = weightHolder.slice(0, weightHolder.length-1) + "." + weightHolder.slice(weightHolder.length-1);

        let frontBasic = (EJSpokeData["sprites"]["front_default"] != null ) ? EJSpokeData["sprites"]["front_default"] : "/Assets/Data_not_found.png";
 
        let backBasic = (EJSpokeData["sprites"]["back_default"] != null ) ? EJSpokeData["sprites"]["back_default"] : "/Assets/Data_not_found.png";
 
        let frontShiny = (EJSpokeData["sprites"]["front_shiny"] != null ) ? EJSpokeData["sprites"]["front_shiny"] : "/Assets/Data_not_found.png";
 
        let backShiny = (EJSpokeData["sprites"]["back_shiny"] != null ) ? EJSpokeData["sprites"]["back_shiny"] : "/Assets/Data_not_found.png";  
%>

  <div id="top">
    <div id="cameraBar">
      <div id="camera">
        <div id="innerGleamOne">
          <div id="innerGleamTwo"></div>
        </div>
      </div>
      <div id="lightContainer">
        <div id="redLightOuter" class="outer">
          <div id="redLightInner" class="inner">
          </div>
        </div>
        <div id="yellowLightOuter" class="outer">
          <div id="yellowLightInner" class="inner">
          </div>
        </div>
        <div id="greenLightOuter" class="outer">
          <div id="greenLightInner" class="inner">
          </div>
        </div>
      </div>
      <div id="name"><span>API Poked&#233;x</span></div>
    </div>

    <div id="screenSection">
      <div id="screenBackground">
        <div id="screen">
          <img src="<%= frontBasic %>" alt="Pokemon" id="img" class="normalSize">
        </div>
        <div id="screenLight"></div>
        <div id="speakers"><i class="fas fa-bars"></i></div>
      </div>
    </div>

    <div id="topControls">
      <div id="topBar">
        <button id="zoomOut" class="button" onclick="zoomOut()">-</button>
        <button id="zoomIn" class="button" onclick="zoomIn()">+</button>
        <button id="shiny" class="button" onclick="switchToShiny()">Shiny</button>
        <button id="reverse" class="button" onclick="reverseImg()"><i class="fas fa-undo"></i></button>
      </div>
      <button id="power" class="button" onclick="power()"><i class="fas fa-power-off"></i></button>
      <button id="openClose" class="button" onclick="opener()">Pad</button>
    </div>

  </div>

  <div id="under">

    <div id="dataScreen">
      
        <div id="data">
          <span id="dataBody">
          <p>
          Name: <%= name %>
          <br>
          ID: #<%= EJSpokeData["id"]%>
          <br>
          Types:
          </p>
          <ul>
          <% for (var i=0; i < EJSpokeData["types"].length; i++){ %>
                    <li>
                        <%= EJSpokeData["types"][i]["type"]["name"].charAt(0).toUpperCase() + EJSpokeData["types"][i]["type"]["name"].split("").slice(1, EJSpokeData["types"][i]["type"]["name"].length).join(""); %>  
                    </li>
                    <% } %>
                    <ul>
            <p>         
          Height: <%= pokeHeight %>m
          <br>
          Weight: <%= pokeWeight %> kg
        </p>
      </span>
      </div>
      </p>
    </div>

    <form action="/data" method="GET" id="underControls">
      <input type="text" id="searchBox" placeholder="Enter Pokemon name or ID number.." name="searchTerm" value="<%= EJSpokeData["name"] %>">
      <button id="leftArrow" class="button" onclick="minusOne()">&lt</button>
      <button class="button"><input type="submit" value="Submit" id="submit"></button>
      <button id="rightArrow" class="button" onclick="plusOne()">&gt</button>
      <button id="random" class="button" onclick="randomPoke()">Random</button>
        </form>
    
  </div>
  
<script>
   var faceForward = true;

function reverseImg(){
  if(faceForward == true){
if(shineOn == true){
  img.src = "<%= backShiny %>";
  } else if(shineOn == false) {
  img.src = "<%= backBasic %>";
  }
     faceForward = false;
} else if(faceForward == false){
  if(shineOn == true){
  img.src = "<%= frontShiny %>";
  } else if(shineOn == false) {
  img.src = "<%= frontBasic %>";
  }
  faceForward = true;
}
} 

var shineOn = false;

function switchToShiny(){ 
   if (shineOn == false) {
     if(faceForward == true){
     img.src = "<%= frontShiny %>";
     } else if(faceForward == false){
      img.src = "<%= backShiny %>";
     }
     shineOn = true;
   } else if(shineOn == true){
    if(faceForward == true){
     img.src = "<%= frontBasic %>";
     } else if(faceForward == false){
     img.src = "<%= backBasic %>"; 
     }
     shineOn = false;
   }  
 }

 var goBack =  (<%= EJSpokeData["id"]%> > 1) ? <%= EJSpokeData["id"]%> -1 : <%= EJSpokeData["id"]%>;

 var goForward =  (<%= EJSpokeData["id"]%> < 893) ? <%= EJSpokeData["id"]%> +1 : <%= EJSpokeData["id"]%>;


function minusOne(){ 
  document.getElementById("searchBox").value= goBack;
  }

  function plusOne(){ 
  document.getElementById("searchBox").value= goForward;
  }

  function randomPoke(){
document.getElementById("searchBox").value= Math.floor(Math.random() * 893);
}

</script>
 <script type="text/javascript" src="/JS/funcs.js"></script>
</body>

</html>
